html, body {
    background-color: #1F2937;
    font-family:'Roboto';
    width: 100%;
    height: 100%;
    margin:0;

  }
  .header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
  .logo{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    margin-left: 150px;
  }
  .links-header{
    margin-left: auto;
    margin-right: 150px;
   
  }

  a{

    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
    margin:10px;
  }

  .container{
    width:100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
   


  }
  .container1{
    background-color: #1F2937;
    gap:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
  
  
  }

  .letters{
    justify-content: center;
    width: 200px;
    height: auto;
    margin-right: 200px;

  }

  #text1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
    
  }
  #text2{
    color:#e5e7eb;
    font-size: 18px;
    width: 400px;
    margin-top: 20px;
    
    

  }

  .button1{
    color:#eeee;
    background-color:#3882F6;
    border-block-end-color: #3882F6;
    border-color: #e5e7eb;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top:20px;
    justify-content: left;
  }

  .placeholder{
   
    background-color: #60656c;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .placeholder-text{
    color: #eee;
   
  }

  .container2{
    background-color: #eee;
   
  }
  .container2a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .title{
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 6%;
    text-align: center;
  }
  .images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:3%;
  
  }
  img{
    width: 120px;
    height: auto;
    
   
  }

  .text{
    text-align: center;
   
  }

  .container3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
  }
  .container3a{
    padding:10%;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap:25px;
    
 
   

  }
  .quote{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    text-align: center;

   

 

  }
.author{
    font-weight: 900;
    text-align:right;
    
   
  
  
  }


  .container4{

    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .box{
    background-color: #3882F6;
    width: 80%;
    height:40px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5%;
   
  }
  .textgl{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 50px;
  }
  .text3{
    color:#e5e7eb;
    font-weight: 900;
    font-size: 18px;

  }

  .text4{
    color: #e5e7eb;
    font-size: 14px;
  }

  .button2{
    color:#eeee;
    font-size: 11px;
    background-color:#3882F6;
    border-block-end-color: #e5e7eb;
    border-color: #e5e7eb;
    border-radius: 7px;
    width: 90px;
    height: 25px;

  }


  .footer{
    background-color: #1F2937;
    color:#e5e7eb;
    font-size: 14px;
    height: 85px;
    display:flex;
    justify-content: center;
    align-items: center;
 
  }
  